.button{
  border-radius:2px;
  margin: 0 1rem 0 0;
  background: #FFFFFF;
  border:none;
  outline:none;
  height:2.5rem;
  width: 3.5rem;
  -webkit-appearance: none;
  -moz-appearance:none;
}

.button:hover{
  cursor: pointer;
}

.container {
  background-image: linear-gradient(to right,#ff6111, #F80000);
  width:100%;
  height: 5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.container input{
  border-radius:2px;
  width:95%;
  margin:0 0.3rem 0 1rem;
  border:none;
  outline: none;
}

.container ul {
  border:none;
  width: 95vw;
  position:absolute;
  top:0;
  left:1.5rem;
  list-style-type: none;
  text-align: left;
}

.container li {
  flex-flow: column;
  padding:0.6rem 0 0.5rem 3rem;
  background-color: #FFFFFF;
  box-shadow: 2px 10px 12px 4px rgba(204,204,204,1);
  font-size: 1rem;
  font-weight: bold;
}
.container li:nth-child(1) {
  border-bottom: 1px solid #c2bfbf;
}

.container li div:nth-child(even) {
  font-size: 0.8rem;
  font-weight: 100;
}

.container li:hover{
  cursor: pointer;
  background-color: #d3d3d3;
}

.container li svg{
  position: absolute;
  left:3rem;
  top:0.7rem;
}

label{
  position:absolute;
  left:2rem;
}

.search{
  background-color: rgb(255, 255, 255, 0.35);
  border: none;
  color: #FFFFFF;
  height:2.5rem;
  outline: none;
  padding:0 0 0 3rem;
  font-weight: bold;
  -webkit-appearance: none;
  -moz-appearance:none;
}

::placeholder {
    color: #FFFFFF;
    opacity: 1; /* Firefox */
  }
